* {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    font-size: 40pt;
    margin-bottom: 20px;
}

p {
    display: inline-block;
    margin: 0;
    padding: 10px;
    /* background-color: lightblue; */
}



h1 {
    font-size: 40pt;
    margin-bottom: 20px;
}