* {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    font-size: 40pt;
    margin-bottom: 20px;
}

h3 {
    font-size: smaller;
    font-weight: 450;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    color: #555;
}

#title:hover {
    cursor: pointer;
}

#subtitle {
    max-width: 700px;
    margin: auto;
}

footer {
    padding-top: 10em;
    background-color: white;
    text-align: center;
    font-size: x-small;
    font-weight: normal;
}

main {
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Content */
.containerBox {
    box-sizing: border-box;
    padding: 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
}

#userButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro-button {
    font-weight: 600;
    height: 30px;
    width: 30px;
    border: 1px solid #555;
    color: #555;
}

.intro-button:hover {
    border: 1px solid #e74c3c
}

.intro-button:focus {
    border: 2px solid #4caf50;
}

/* Create insight section */
.insightCreation {
    margin-top: 10px;
    margin-bottom: 10px;
}


#button_trial {
    font-weight: 600;
    height: 30px;
    width: 120px;
    border: 1px solid #555;
    color: #555;
}

#button_trial:hover {
    border: 1px solid #e74c3c
}

#button_trial:focus {
    border: 2px solid #4caf50;
}

#userProfile-input {
    border: 1px solid #555;
    width: 30px;
    height: 30px;
    padding-left: 9px;
    box-sizing: border-box;
}

#userProfile-input:hover {
    border: 1px solid #e74c3c
}

#userProfile-input:focus {
    border: 2px solid #4caf50;
    outline: none;
}

.insightCreation {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Insights Info */
.insightsInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.insightsInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.totalMoneyWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #555;
    font-size: smaller;
}

.totalUsesWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #555;
    font-size: smaller;
}

/* Info table */
table {
    border: none;
    border-collapse: collapse;
}

thead th {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 450;
    font-size: normal;
    text-align: center;
    background-color: inherit;
    background-color: #fc4445;
}

tr td {
    color: #555;
    font-weight: normal;
    font-size: smaller;
    padding: 10px;
    text-align: left;
}