* {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    font-size: 40pt;
    margin-bottom: 20px;
}

h2 {
    font-size: larger;
    font-weight: bold;
}

h3 {
    font-size: smaller;
    font-weight: 450;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    color: #555;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.advert-creation {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    justify-content: flex-start;
}

.advert-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.banner-img {
    height: 100%;
}

.padding-div {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.padding-div-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* display: flex;
    flex-direction: column; */
    /* gap: 10px; */
    width: 300px;
}

/* Single line text input */

.text-input-container {
    position: relative;
    margin-bottom: 8px;
}

.text-input-container label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: smaller;
    font-weight: 450;
    color: #555;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.text-input-container input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: smaller;
    color: #555;
}

.text-input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
}

.text-input-container input:hover {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
}

.text-input-container input:focus ~ label,
.text-input-container input:valid ~ label {
    top: -12px;
    font-size: 12px;
}

.ad-replacement-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Replacement text box */

.text-box {
    border: 1px solid #555;
    width: 100%;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
}

.text-box:focus {
    border: none;
    outline: none;
    border: 1px solid #e74c3c;
}

.text-box:hover {
    border: 1px solid #e74c3c;
}

/* Advert Upload */
.file-input-wrapper {
    display: flex; /* Set the display property to flex */
    align-items: center; /* Center items vertically */
    color: #555;
    font-size: smaller;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #555;
    margin-top: 8px;
    margin-bottom: 10px;
}

.file-input-wrapper:hover {
    border: 1px solid #e74c3c;
}

.file-input-label {
    margin-right: 10px;
}

.file-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.file-input-name {
    flex: 1; /* Set the flex property to 1 to take up remaining space */
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}

.file-input-wrapper.has-file {
    border: 2px solid #4caf50;
}

.file-input-label {
    display: flex; /* New CSS code to display the message to the right */
}

.file-input-name {
    flex: 0 0 auto; /* Set the flex property to 0 to prevent the item from growing or shrinking */
}

/* Dropdown Menu Styling */
.select {
    position: relative;
    display: inline-block;
    width: fit-content;
    max-width: 150px;
    word-wrap: break-word;
}

.select select {
    padding: 5px;
    border: 1px solid #555;
    /* border-radius: 5px; */
    /* background-color: #fff; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    max-width: 150px;
    word-wrap: break-word;
    color: #555;
}

.select select:hover {
    border: 1px solid #e74c3c;
}

.select select:focus {
    border: 1px solid #e74c3c;
}

.select select.selected {
    border: 2px solid #4caf50;
}

.targetingWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
    padding: 0px;
    margin-bottom: 8px;
}

.dropDownOption {
    max-width: 150px;
    word-wrap: break-word;
}

.firstOption {
    font-weight: 450;
}

/* Number of times ad can be shown */
.no-spinners {
    appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
