* {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    font-size: 40pt;
    margin-bottom: 20px;
}

h2 {
    font-size: larger;
    font-weight: bold;
    margin: 0px;
}

h3 {
    font-size:smaller;
    font-weight: bolder;
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.advert-creation {
    width: 700px;
    height: 500px;
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    justify-content: flex-start;
}

.banner-img {
    height: 100%;
}

.padding-div {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}