* {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item {
    border: 1px solid black;
    text-align: center;
}