* {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    font-size: 40pt;
    margin-bottom: 20px;
}

h1:hover {
    cursor: pointer;
}

h2 {
    font-size: large;
    font-weight: normal;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    align-items: stretch;
}

.card {
    width: 300px;
    /* height: 450px; */
    /* border-radius: 5%; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
}

.intro-img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
    display: block;
}

.padding-div {
    padding: 20px 10px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-title {
    font-size: smaller;
    font-weight: bold;
}

.card-body {
    font-size: smaller;
    font-weight: normal;
}

.user-choice-button {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    height: 30px;
    background-color: #0000000d;
    color: #0e0e10;
    padding: 0 20px;
    margin-top: auto;
}

.user-choice-button:hover {
    opacity: 0.75;
}

#subtitle {
    margin-bottom: 15px;
}

footer {
    padding-top: 10em;
    background-color: white;
    text-align: center;
    font-size: x-small;
    font-weight: normal;
}