* {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    font-size: 40pt;
    margin-bottom: 20px;
}

h2 {
    font-size: large;
    font-weight: normal;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}

.intro-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}