* {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

:root {
    --white: #e8e9ed;
    --gray: #434257;
    --blue: #18172c;
    --green: #00d084;
    --pink: #ff4b77;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    font-size: 40pt;
    margin-bottom: 20px;
}

h2 {
    font-size: large;
    font-weight: normal;
}

#title {
    cursor: pointer;
}

main {
    margin: auto;
    display: flex;
    justify-content: center;
}

/*  */
/* Table Styling */
/*  */

table {
    border: none;
    border-collapse: collapse;
}

.tableWrapper {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Header */
.headerCell {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 450;
    font-size: normal;
    text-align: center;
    background-color: inherit;
}

.headerRow {
    background-color: #fc4445;
}
/* General Cell */
.tableBodyCell {
    color: #555;
    font-weight: normal;
    font-size: smaller;
    padding: 10px;
    text-align: left;
}

/* Checkbox */
[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

.checkbox label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.checkbox span:last-child {
    position: relative;
    width: 50px;
    height: 26px;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    background: var(--gray);
    transition: all 0.3s;
}

.checkbox span:last-child::before,
.checkbox span:last-child::after {
    content: "";
    position: absolute;
}

.checkbox span:last-child::before {
    left: 1px;
    top: 1px;
    width: 24px;
    height: 24px;
    background: var(--white);
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.3s;
}

.checkbox span:last-child::after {
    top: 50%;
    right: 8px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
    background-size: 12px 12px;
}

.checkbox [type="checkbox"]:checked + label span:last-child {
    background: var(--green);
}

.checkbox [type="checkbox"]:checked + label span:last-child::before {
    transform: translateX(24px);
}

.checkbox [type="checkbox"]:checked + label span:last-child::after {
    width: 14px;
    height: 14px;
    left: 8px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
    background-size: 14px 14px;
}

/* Change Value */
.changeTextCell input {
    border: 1px solid #555;
    width: 150px;
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
}

.changeTextCell input:focus {
    border: none;
    outline: none;
    border: 1px solid #e74c3c;
}

.changeTextCell input:hover {
    border: 1px solid #e74c3c;
}

/* Submit change button */
.submit-button input {
    border: 1.5px solid #555;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    color: #555;
    cursor: pointer;
}

.submit-button input:focus {
    border: none;
    outline: none;
    border: 1.5px solid #e74c3c;
}

.submit-button input:hover {
    border: 1.5px solid #e74c3c;
}

/* Form Buttons */

form {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    align-items: center;
}

.formButton {
    border: 1.5px solid #555;
    height: 35px;
    font-weight: 600;
    color: #555;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.formButton:hover {
    border: 1.5px solid #e74c3c;
}

.formButton:focus {
    border: none;
    outline: none;
    border: 1.5px solid #e74c3c;
}

/* Footer */
footer {
    padding-top: 10em;
    background-color: white;
    text-align: center;
    font-size: x-small;
    font-weight: normal;
}

/* Tooltips */
.icon {
    height: 30px;
    width: 30px;
    position: relative;
    cursor: help;
}

.tooltip {
    position: relative;
    display: block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px; /* increase width */
    background-color: #fff;
    text-align: left;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -95px;
    left: 50%;
    transform: translate(-50%);
    transform-style: preserve-3d;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
    color: #555;
    font-weight: normal;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}